#header{
    width:100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #555 solid;
    >a.logo{
        font-size: 20px;
        color:#000;
        margin-left: 50px;
        transition: .3s;
        &:hover{
            color:#2ABAFF;
        }
    }
    .logout{
        border:1px #ccc solid;
        margin-right: 50px;
        color:#333;
        font-size: 14px;

    }
    .warning{
        color:#f00;
        font-size: 12px;
        display: none;
        animation: blingbling 2s linear infinite;
        @keyframes blingbling {
            0%{
                opacity: .3;
            }
            50%{
                opacity: 1;
            }
            100%{
                opacity: .3;
            }
        }
    }
}
main{
    display: flex;
}
#sideBar{
    min-width:200px;
    height: 100%;
    min-height: calc(100vh - 50px);
    background-color: #313131;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    >.userInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        >i{
            color:#fff;
            font-size: 45px;
            margin-bottom: 8px;
        }
        >h2{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 8px;
        }
        >p{
            font-size: 14px;
        }
    }
    >ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        >a{
            width:175px;
            height: 55px;
            text-align: center;
            background-color: #70797A;
            color:#fff;
            line-height: 51px;
            margin-top: 21px;
            border-radius: 10px;
            border:2px #70797A solid;
            transition: .3s;
            font-weight: 550;
            font-size: 16px;
            &.focus{
                border-color:#29BAFF;
                color:#000;
                background-color: #fff;
            }
            &.selected{
                background-color: #29BAFF;
                color:#000;
                border-color:#000;
            }
            &:hover{
                background-color: #29BAFF;
                color:#000;
                border-color:#000;
            }
           
        }
        >ul.smallUl{
            height: 0;
            overflow: hidden;
            transition: .3s;
            &.focus{
                height: 240px;
                transition: .3s;
            }
            a{
                width:165px;
                height: 55px;
                text-align: center;
                background-color: #29BAFF;
                color:#000;
                line-height: 51px;
                margin-top: 21px;
                border-radius: 30px;
                border:2px #70797A solid;
                transition: .3s;
                font-weight: 550;
                font-size: 15px;
                margin-left: 10px;
                display: block;
                &:hover{
                    background-color: #fff;
                    border:2px #29BAFF solid;
                }
                &.focus{
                    background-color: #fff;
                    border:2px #29BAFF solid;
                }
            }
        }
    }
}
#home{
    width:100%;
    >.title{
        width:95%;
        border-top:2px #8295C3 solid;
        border-bottom:2px #8295C3 solid;
        padding: 8px 0;
        font-size: 32px;
        text-align: center;
        margin:12px auto;
        font-weight: 500;
    }
    >.information{
        display: flex;
        justify-content: space-between;
        width:95%;
        margin:20px auto;
        >.item{
            width:32%;
            height: 100px;
            background-color: #E8EAEC;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            >h2{
                font-weight: 600;
                font-size: 22px;
            }
            >p{
                font-size: 18px;
                font-weight: 700;
                margin-top: 2px;
            }
        }
    }
}
.gameManagement{
    width:100%;
    >.title{
        width:95%;
        border-top:2px #8295C3 solid;
        border-bottom:2px #8295C3 solid;
        padding: 8px 0;
        font-size: 32px;
        text-align: center;
        margin:12px auto;
        font-weight: 500;
    }
    >.ivu-body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border:1px #dcdee2 solid;
        border-radius: 8px;
        width:95%;
        margin:20px auto;
        padding: 16px;
        transition: .3s;
        &:hover{
            box-shadow: 0px 3px 5px #dcdee2;
        }
        >.left{
            display: flex;
            justify-content: center;
            align-items: center;
            >div{
                margin:0 10px;
                p{
                    text-align: center;
                    font-size: 13px;
                    color:#333;
                    margin-bottom: 3px;
                    &.loading{
                        width:148px;
                        text-align: center;
                        line-height: 32px;
                        height: 32px;
                        background-color: #29BAFF;
                        color:#fff;
                        border-radius: 5px;
                        font-size: 12px;
                    }
                }
                select{
                    background-color: #29BAFF;
                    color:#fff;
                    width:148px;
                    height: 32px;
                    border-radius: 5px;
                    border:none;
                    font-size: 12px;
                    line-height: 32px;
                    text-align: center;
                    padding: 0;
                }
            }
        }
        >.right{
            display: flex;
            justify-content: center;
            align-items: center;
            >button{
                border-radius: 25px;
                color:#c5c8ce;
                width:128px;
                cursor: not-allowed;
                background-color: #dcdee2;
                height: 40px;
                outline: 0;
                font-size: 12px;
                margin:0 10px;
                &.open{
                    background-color: #2ABAFF;
                    color:#fff;
                    cursor: pointer;
                    &.unlock{
                        background-color:#4C67A8;
                    }
                }
                &.close{
                    cursor: not-allowed;
                    background-color: #dcdee2;
                }
                &.updatelock, &.reduction{
                    
                }
            }
        }
    }
    >.content{
        width:100%;
        display: block;
        >.gameName{
            display: flex;
            justify-content: flex-start;
            align-content: center;
            width:95%;
            margin: 0 auto;
            margin-bottom: 20px;
            h2{
                width:350px;
                height: 45px;
                border-radius: 50px;
                border:3px #29baff solid;
                text-align: center;
                line-height: 39px;
                font-weight: 500;
                color:#222;
                font-size: 22px;
            }
        }
        .tableBox{
            width:95%;
            margin:0 auto;
            display: flex;
            flex-direction: column;
            table{
                width:100%;
                td{
                    padding: 15px;
                    >.drawInfo{
                        display: flex;
                        justify-content: space-between;
                        padding-right: 60px;
                        >.left{
                            h4{
                                width:137px;
                                height: 40px;
                                background-color: #e3e3e3;
                                text-align: center;
                                line-height: 40px;
                                font-size: 12px;
                                margin-bottom: 12px;
                                font-weight: 600;
                            }
                            select{
                                width:137px;
                                height: 35px;
                                color:#fff;
                                background-color: #29BAFF;
                                border:none;
                                font-size: 12px;
                                padding: 0;
                                text-align: center;
                                outline: none;
                                border-radius: 5px;
                                cursor: pointer;
                                &.close{
                                    cursor: not-allowed;
                                }
                            }
                        }
                        >.center{
                            button{
                                width:128px;
                                height: 40px;
                                cursor: pointer;
                                background-color: #29BAFF;
                                color:#fff;
                                font-size: 12px;
                                border-radius: 25px;
                                &.lock{
                                    cursor: not-allowed;
                                }
                            }
                        }
                        >.right{
                            button{
                                width:128px;
                                height: 40px;
                                cursor: pointer;
                                background-color: #29BAFF;
                                color:#fff;
                                font-size: 12px;
                                border-radius: 25px;
                                &.lock{
                                    cursor: not-allowed;
                                }
                            }
                        }
                    }
                    >.gameitem{
                        width:20%;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        margin:0 10px;
                        >.gamename{
                            background-color: #E3E3E3;
                            color:#111;
                            font-weight: 900;
                            width:100%;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            font-size: 12px;
                            margin-bottom: 6px;
                        }
                        >.number{
                            width:100%;
                            text-align: center;
                            input{
                                width:90%;
                                text-align: center;
                                outline: none;
                                border:1px #ccc solid;
                                height: 32px;
                                border-radius:4px ;
                                color:#515a6e;
                                font-size: 12px;
                                cursor: not-allowed;
                                background-color: #F3F3F3;
                                &.open{
                                    cursor: text;
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                    &.table-content-flex{
                        display: flex;
                        align-items: center;
                    }
                }
                .table-title{
                    width:15%;
                    font-size: 14px;
                }
            }         
        }
    }
    .theDayAnswerModal{
        width:100%;
        height: 100vh;
        position: fixed;
        padding: 50px 0;
        top: 0;
        left:0;
        display: flex;
        justify-content: center;
        display: none;
        transition: .3s;
        animation: openMoadl .3s linear;
        @keyframes  openMoadl {
            0%{
                opacity: 0;
            }
        }
        >.back{
            position: absolute;
            top: 0;
            left:0;
            background-color: rgba(0,0,0,.5);
            width:100%;
            height: 100%;
        }
        >.content{
            width:700px;
            padding: 15px;
            background-color: #70797E;
            color:#fff;
            z-index: 999;
            border-radius: 6px;
            position: relative;
            >#closetheDayAnswerModal{
                position: absolute;
                top: 11px;
                right:15px;
                display: block;
                width:25px;
                height: 25px;
                border:1px #fff solid;
                text-align: center;
                line-height: 25px;
                border-radius: 50%;
                transition: .3s;
                &:hover{
                    color:#ccc;
                }
            }
            >.searchDiv{
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 15px 0;
                
                div.timeSearch, div.numberSearch{
                    display: flex;
                    align-items: center;
                    input{
                        color:#515a6e;
                        width:194px;
                        height: 32px;
                        border-radius:4px ;
                        border:none;
                        outline: none;
                        margin:0 5px;
                        font-size: 12px;
                    }
                    button{
                        background-color: #2d8cf0;
                        color:#fff;
                        widtH:70px;height: 32px;
                        font-size: 12px;
                        font-weight: 600;
                        border-radius: 4px;
                        margin:0 5px;
                    }
                }
                
            }
            >.table{
                font-size: 12px;
                text-align: center;
                display: flex;
                flex-direction: column;
                height: 100%;
                .thead{
                    background-color: #E3E3E3;
                    display: flex;
                    width:100%;
                }
                .tbody{
                    height: 80%;
                    max-height: 800px;
                    display: flex;
                    flex-direction: column;
                    overflow-y: scroll;
                    &::-webkit-scrollbar {

                        width: 5px;
                  
                      }
                  
                      &::-webkit-scrollbar-button {
                  
                        background: transparent;
                  
                        border-radius: 4px;
                  
                      }
                  
                      &::-webkit-scrollbar-track-piece {
                  
                        background: transparent;
                  
                      }
                  
                      &::-webkit-scrollbar-thumb {
                  
                        border-radius: 4px;
                  
                        background-color: rgba(0, 0, 0, 0.4);
                  
                        border: 1px solid slategrey;
                  
                      }
                  
                      &::-webkit-scrollbar-track {
                  
                        box-shadow: #ccc;
                  
                      }
                }
                .tr{
                    background-color: #fff;
                    transition: .3s;
                    display: flex;
                    width:100%;
                    &:hover{
                        background-color: #EBF7FF;
                    }
                    .td{
                        width:25%;
                        padding: 6px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        button{
                            color:#c5c8ce;
                            background-color: #f7f7f7;
                            border: #dcdee2 1px solid;
                            width:40px;
                            height: 28px;
                            border-radius: 4px;
                            cursor: not-allowed;
                            &.ok{
                                width:64px;
                                color:#fff;
                                background-color: #2D8CF0;
                                cursor: pointer;
                            }
                            &.no{
                                width:64px;
                            }
                        }

                    }
                }
            }
        }
    }
    .changeResult{
        width:100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left:0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;
        animation: openMoadl .3s linear;
        display: none;
        @keyframes  openMoadl {
            0%{
                opacity: 0;
            }
        }
        >.back{
            position: absolute;
            top: 0;
            left:0;
            background-color: rgba(0,0,0,.5);
            width:100%;
            height: 100%;
        }
        >.content{
            width:1000px;
            height: 500px;
            background-color: #70797E;
            padding: 20px;
            border-radius: 6px;
            z-index: 1000;
            color:#fff;
            position: relative;
            >#closeChangeResult{
                position: absolute;
                top: 11px;
                right:15px;
                display: block;
                width:25px;
                height: 25px;
                border:1px #fff solid;
                text-align: center;
                line-height: 22px;
                border-radius: 50%;
                transition: .3s;
                &:hover{
                    color:#ccc;
                }
            }
            >h4{
                text-align: center;
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 30px;
            }
            input{
                color:#000;
            }
            >div{
                display: flex;
                align-items: center;
                margin-bottom: 12px;
                &.timeleft{
                    width:140px;
                    height: 75px;
                    border-radius: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    color:#000;
                    background-color: #fff;
                    margin:0 auto 15px;
                    >p{
                        font-size: 14px;
                    }
                }
                &.newBet{
                    width:300px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    overflow-y: scroll;
                    max-height: 100px;
                    border-radius: 12px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    color:#000;
                    background-color: #fff;
                    float: right;
                    &::-webkit-scrollbar {
                        width: 5px;
                      }
                        
                    &::-webkit-scrollbar-track {
                        background-color: #555;
                        border-radius: 10px;
                    }
                        
                    &::-webkit-scrollbar-thumb {
                        background-color: ccc;
                    }
                    >p{
                        font-size: 15px;
                        font-weight: 700;
                        text-align: center;
                    }
                }
                &.btnList{
                    float: right;
                    button{
                        width:56px;
                        height: 31px;
                        border-radius: 4px;
                        font-size: 12px;
                        margin-left: 12px;
                    }
                    .cancel{
                        background-color: #fff;
                        color:#111;
                    }
                    .submit{
                        background-color: #2ABAFF;
                        color:#fff;
                    }
                }
                >p{
                    margin-right: 10px;
                    font-size: 13px;
                }
                input[type="number"]{
                    width:125px;
                    height: 32px;
                    border-radius: 6px;
                    font-size: 13px;
                    cursor: not-allowed;
                    &.change{
                        width:60px;
                        cursor: default;
                    }
                }
                span{
                    margin:0 4px;
                }
                .reCalcBtn{
                    background-color: #2d8cf0;
                    color:#fff;
                    width:80px;
                    height: 31px;
                    border-radius: 4px;
                    cursor: pointer;
                    font-size: 12px;
                }
            }
           
        }
    }
    .modeRecord{
        position: fixed;
        top: 0;
        left:0;
        width:100%;
        height: 100vh;
        background-color: rgba(0,0,0,.5);
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        animation: openMoadl .3s linear;
        @keyframes  openMoadl {
            0%{
                opacity: 0;
            }
        }
        >.content{
            width:520px;
            height: 600px;
            border-radius: 5px;
            background-color: #70797E;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            a#closeModeRecord{
                position: absolute;
                top: 10px;
                right:15px;
                border-radius: 50%;
                display: block;
                border:1px #fff solid;
                color:#fff;
                width:30px;
                height: 30px;
                text-align: center;
                line-height: 28px;
            }
            >.data{
                width:480px;
                height: 480px;
                background-color: #fff;
                >.data-title{
                    display: flex;
                    width:100%;
                    height: 40px;
                    >.item{
                        width:25%;
                        background-color: #E3E3E3;
                        color:#515A6E;
                        font-weight: 600;
                        text-align: center;
                        height: 40px;
                        line-height: 40px;
                        font-size: 13px;
                    }
                }
                >.data-box{
                    width:100%;
                    height: 440px;
                    display: flex;
                    flex-direction: column;
                    overflow-y: scroll;
                    >.data-list{
                        border-bottom: 1px #ccc solid;
                        display: flex;
                        >.item{
                            width:25%;
                            min-width:25%;
                            max-width:25%;
                            text-align: center;
                            padding: 10px 18px;
                            font-size: 12px;
                            min-height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            >p{
                                word-break:break-all; 
                            }
                        }
                    }
                }
                
            }
        }
    }
}
.gameStatus{
    width:100%;
    >.title{
        width:95%;
        border-top:2px #8295C3 solid;
        border-bottom:2px #8295C3 solid;
        padding: 8px 0;
        font-size: 32px;
        text-align: center;
        margin:12px auto;
        font-weight: 500;
    }
    .content{
        width:95%;
        margin: 30px auto;
        >.list{
            display: flex;
            padding: 10px 0;
            width:100%;
            border-bottom: 1px #e3e3e3 solid;
            &.list-title{
                background-color: #E3E3E3;
                border-bottom:none;
                padding: 8px 0;
                >.item{
                    font-weight: 900;
                }
            }
            >.item{
                width:25%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 13px;
                >.name{
                    text-align: center;
                }
                >.statu{
                    background-color: #BFBFBF;
                    color:#fff;
                    text-align: center;
                    width:60px;
                    height: 30px;
                    line-height: 30px;
                    padding: 0;
                    font-size: 12px;
                    border-radius: 8px;
                    &.open{
                        background-color: #73D954;
                    }
                }
                >select{
                    width:90%;
                    border-radius: 6px;
                    outline: none;
                    border:1px #ccc solid;
                    text-align: center;
                    font-size: 12px;
                    height: 35px;
                    padding: 0;
                    padding: 0 8px;
                }
                >input{
                    width:90%;
                    border-radius: 6px;
                    outline: none;
                    border:1px #ccc solid;
                    font-size: 12px;
                    height: 35px;
                    padding: 0 8px;
                }
            }
        }
    }
}
.userStatus, .memberWallet{
    width:100%;
    >.title{
        width:95%;
        border-top:2px #8295C3 solid;
        border-bottom:2px #8295C3 solid;
        padding: 8px 0;
        font-size: 32px;
        text-align: center;
        margin:12px auto;
        font-weight: 500;
    }
    .content{
        width:95%;
        margin: 30px auto;
        .searchBox{
            margin-bottom: 15px;
            >input{
                border-radius: 8px;
                border:1px #aaa solid;
                font-size: 14px;
                width:300px;
            }
        }
        >.list{
            display: flex;
            padding: 10px 0;
            width:100%;
            border-bottom: 1px #e3e3e3 solid;
            &.list-title{
                background-color: #E3E3E3;
                border-bottom:none;
                padding: 8px 0;
                >.item{
                    font-weight: 900;
                }
            }
            >.item{
                width:25%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 13px;
                >.name{
                    text-align: center;
                }
                >.statu{
                    background-color: #BFBFBF;
                    color:#fff;
                    text-align: center;
                    width:60px;
                    height: 30px;
                    line-height: 30px;
                    padding: 0;
                    font-size: 12px;
                    border-radius: 8px;
                    &.open{
                        background-color: #73D954;
                    }
                }
                >select{
                    width:90%;
                    border-radius: 6px;
                    outline: none;
                    border:1px #ccc solid;
                    text-align: center;
                    font-size: 12px;
                    height: 35px;
                    padding: 0;
                    padding: 0 8px;
                }
                >input{
                    width:90%;
                    border-radius: 6px;
                    outline: none;
                    border:1px #ccc solid;
                    font-size: 12px;
                    height: 35px;
                    padding: 0 8px;
                }
                >input[type="checkbox"] ,input[type="radio"]{
                    position: relative;
                    width:50px;
                    height: 25px;
                    outline: none;
                    border:none;
                    background:linear-gradient(to right,#bbb ,#999);
                    -webkit-appearance: none;
                    cursor: pointer;
                    border-radius: 20px;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width:25px;
                        height: 25px;
                        background: #fff;
                        border-radius: 50%;
                        transform: scale(0.98,0.96);
                        transition: .5s;
                    }
                    &:checked{
                        background: linear-gradient(to right,#29BAFF ,#2d8cf0);
                        &::before{
                            left:25px;
                        }
    
                    }
                    &::after{
                        content:'';
                    }
                    
                }
                >input[type='number']{
                    width:150px;
                    margin-right: 15px;
                }
                >button{
                    font-size: 14px;
                    &.storeBtn{
                        color:#fff;
                        background-color: #29BAFF;
                    }
                }
            }
        }
    }
}
.memberWalletVerify{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    padding: 50px 0;
    >form{
        width:400px;
        >input{
            width:100%;
            margin:15px 0;
        }
        >button{
            width:100%;
        }
    }
}
.statisticalData{
    width:100%;
    >.title{
        width:95%;
        border-top:2px #8295C3 solid;
        border-bottom:2px #8295C3 solid;
        padding: 8px 0;
        font-size: 32px;
        text-align: center;
        margin:12px auto;
        font-weight: 500;
    }
    >.ivu-body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border:1px #dcdee2 solid;
        border-radius: 8px;
        width:95%;
        margin:20px auto;
        padding: 16px;
        transition: .3s;
        &:hover{
            box-shadow: 0px 3px 5px #dcdee2;
        }
        >.left{
            display: flex;
            justify-content: center;
            align-items: center;
            >div{
                margin:0 10px;
                p{
                    text-align: center;
                    font-size: 13px;
                    color:#333;
                    margin-bottom: 3px;
                    &.loading{
                        width:148px;
                        text-align: center;
                        line-height: 32px;
                        height: 32px;
                        background-color: #29BAFF;
                        color:#fff;
                        border-radius: 5px;
                        font-size: 12px;
                    }
                }
                input{
                    background-color: #fff;
                    color:#000;
                    width:150px;
                    height: 32px;
                    border-radius: 5px;
                    border:1px #ccc solid;
                    font-size: 12px;
                    line-height: 32px;
                    text-align: center;
                    padding: 0 8px ;
                }
            }
        }
        >.right{
            display: flex;
            justify-content: center;
            align-items: center;
            >button{
                border-radius: 25px;
                color:#c5c8ce;
                width:128px;
                cursor: not-allowed;
                background-color: #dcdee2;
                height: 40px;
                outline: 0;
                font-size: 12px;
                margin:0 10px;
                &.open{
                    background-color: #2ABAFF;
                    color:#fff;
                    cursor: pointer;
                    &.unlock{
                        background-color:#4C67A8;
                    }
                }
                &.close{
                    cursor: not-allowed;
                    background-color: #dcdee2;
                }
                &.updatelock, &.reduction{
                    
                }
            }
        }
    }
    .content{
        width:95%;
        margin: 30px auto;
        >.list{
            display: flex;
            padding: 10px 0;
            width:100%;
            border-bottom: 1px #e3e3e3 solid;
            &.list-title{
                background-color: #E3E3E3;
                border-bottom:none;
                padding: 8px 0;
                >.item{
                    font-weight: 900;
                }
            }
            &.ondata{
                text-align: center;
                width:100%;
                padding: 15px 0;
                p{
                    text-align: center;
                    width:100%;
                    font-size: 14px;
                }
            }
            >.item{
                width:25%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 13px;
                >.name{
                    text-align: center;
                }
                >.statu{
                    background-color: #BFBFBF;
                    color:#fff;
                    text-align: center;
                    width:60px;
                    height: 30px;
                    line-height: 30px;
                    padding: 0;
                    font-size: 12px;
                    border-radius: 8px;
                    &.open{
                        background-color: #73D954;
                    }
                }
                >select{
                    width:90%;
                    border-radius: 6px;
                    outline: none;
                    border:1px #ccc solid;
                    text-align: center;
                    font-size: 12px;
                    height: 35px;
                    padding: 0;
                    padding: 0 8px;
                }
                >input{
                    width:90%;
                    border-radius: 6px;
                    outline: none;
                    border:1px #ccc solid;
                    font-size: 12px;
                    height: 35px;
                    padding: 0 8px;
                }
            }
        }
    }
}
#loginPage{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/BG_ci.fd83249.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .center{
        widtH:100%;
        padding: 50px 0;
        min-height: 300px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        width:300px;
        margin:0 100px;
    }
    form{
        margin: 0 100px;
        width:350px;
        >.loginBtn{
            width:100%;
            background-color: #29BAFF;
        }
    }
}